venv/
.venv/
env/
ENV/
env.bak/
venv.bak/
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
build/
dist/
*.egg-info/
*.egg
.pytest_cache/
.cache
.coverage
.coverage.*
htmlcov/
nosetests.xml
coverage.xml
allure_results/
allure-results/
allure-report/
allure_report/
.wdm/
*.log
chromedriver.log
geckodriver.log
.idea/
.vscode/
tempCodeRunnerFile.py
*.swp
*.swo
Thumbs.db
Desktop.ini
.DS_Store